
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/Images/2227146.png" alt="prueba_1" height="200" width="200">
        <div class="caption">
        </div>
      </div>
    </div>
  </div>
