
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/Images/2227146.png" class="img-thumbnail mx-auto d block" alt="prueba_1">
        <div class="caption">
        </div>
      </div>
    </div>
  </div>
