<%- include('cabecera', {tituloweb: 'Registro de productos'}); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de productos</title>
</head>
<body>
    <div class="container">
        <img src="/Images/logoud.jpg" alt="centered image" height="60" width="160">
        <h3 class="text-muted">Registro de productos</h3>
        <%- include('footer'); %>
        <%if (productos.length) {%>
            <p class="text-primary">Se encuentran productos registrados</p>
        <%} else {%>
            <p class="text-danger">Aún no se han registrado productos</p>
        <%}%>
        <a class="btn btn-danger p-2" href="/registro-form">Registrar producto</a>
        <a class="btn btn-danger p-2" href="/productosregistrados">Ver productos registrados</a>
    </div>
</body>
</html>